<div class="text-content">
    <h1>¡Hola! , Soy Camilo Molano</h1>
    <p>
        Desarrollador web apasionado por crear soluciones eficientes y de calidad.
        Combino Angular, Node.js y metodologías ágiles para transformar ideas en
        productos funcionales y escalables.
    </p>
    <div class="cta-buttons">
      <a href="../../../cv/CV_Ing_Camilo_Molano.pdf" target="_blank" class="btn btn-secondary">📄 Descargar CV</a>
      <a routerLink="/contact" class="btn btn-secondary btn-derecha">📬 Contactame</a>
    </div>

</div>

<div class="image-container">
    <img src="../../../images/Foto CV.jpg" alt="Foto de Perfil">
    <svg class="rotating-text" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <defs>
            <path id="circlePath"
                d="M 150,150
                m -140,0
                a 140,140 0 1,1 280,0
                a 140,140 0 1,1 -280,0"
            />
        </defs>
        <text>
            <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
                DESARROLLADOR WEB • FULL STACK • APASIONADO POR LA PROGRAMACIÓN •
                CREATIVO • INNOVADOR • Y MUCHO MAS • • •
            </textPath>
        </text>
    </svg>
</div>
